<div class="sidebar">
  <div class="status">
    <div>
      {{ getSessionStatus() }}
    </div>

    <div>PING: {{ pingDelay || "-" }}ms</div>
  </div>
  <div class="chatbox">
    <div #chatboxMessages class="messages">
      <div *ngFor="let event of room.events" class="message {{ event.type }}">
        <span class="timestamp">&#91;{{ event.timestamp | date:"HH:mm:ss" }}&#93;&nbsp;</span>
        <span *ngIf="!!event.nick" class="nick">&lt;<span [innerHTML]="event.nick" [ngStyle]="{'color': getParticipantColor(event.nick)}"></span>&gt;&nbsp;</span>
        <span class="text" [innerHTML]="event.text"></span>
      </div>
    </div>
    <div class="controls">
      <input #newMessage type="text" placeholder="Type message here" class="message" (keyup.enter)="onSendClick(newMessage)">
      <button (click)="onSendClick(newMessage)" class="submit">Send</button>
    </div>
  </div>
</div>
